@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

.main-container {
    margin-left: 40%;
}
a:not([href]) {
    text-decoration: underline;
    cursor: pointer;
}

.subheader-nav {
    text-align: center;
    font-size: larger;
    font-weight: 600;
    padding: 5px;
}